@{
    ViewData["Title"] = "Home Page";
}

<div class="home-Text text-center">
    <h1 class="">Din elektronik affär på nätet! </h1>
    <p class="mt-5">Köp allt inom hemelektronik direkt från lagerhyllan hos denna webshop. Vi är elektronikvaruhuset på nätet som säljer kända varumärken till lägre priser</p>
    <!-- <button class="btn btn-outline-dark mt-4">Se produkter</button> -->
    @*<a href="products.html"><button class="btn btn-outline-dark mt-4">Se produkter</button></a>*@
    @*<button class="btn btn-outline-dark mt-4" asp-controller="Products" asp-action="Index">
        Spana in våra produkter
    </button>*@
    <a class="btn btn-outline-dark mt-4" asp-controller="Products" asp-action="Index">
        Spana in våra produkter
    </a>
</div>
